<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
  <title>leonyu.net</title>

  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>

<body>
  <div class="page-container">
    <div class="header margin-restraint">
      <h2>Prime Checker / Equation Solver</h2>
    </div>
    <div class="content margin-restraint">
      <form method="POST" enctype="multipart/form-data">
        <div>
          <textarea name="input">x + y * y = z / a</textarea>
        </div>
        <div class="target-row">
          <label>Solve for:<input type="text" name="target" value="a"></label>
        </div>
        <div>
          <input type="submit" disabled="disabled" value="Solve"> <span class="error-message"></span>
        </div>
      </form>
      <ul class="solution"></ul>
    </div>
  </div>
  <div class="footer">
    (c) 2019 |
    <a href="mailto:leon@leonyu.net">leon@leonyu.net</a>
  </div>
</body>

</html>
